
{
  "presets": ["next/babel", "effector-http-api/babel-preset", "patronum/babel-preset"],
  "plugins": [
    [
      "effector/babel-plugin",
      {
        "factories": [
          "effector-http-api"
        ],
        "addLoc": true
      }
    ]
  ]
}